/* Dashboard */

/* Hide first steps onboarding tab */
[data-area='first-steps-widgets'] {
    display: none;
}
.dashboard .tabs--big .tab {
    border-radius: 8px !important;
}

/* Ticket overview */

/* Hide merge button */
.dropdown.dropdown--actions li[data-type='ticket-merge'] {
    display: none;
}

/* Hide linked knowledge base answers */
.link_kb_answers {
    display: none;
}

/* PROFILE */

/* Hide token access */
/*
.NavBarProfile li:has(> a[href='#profile/token_access']) {
    display: none;
}
*/

/* Article avatar */
.avatar:has(> .icon-logo) {
    background-color: inherit !important;
}
