service: "ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>"

image: "sd/ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>"

servers:
  web:
    # nginx should be started just after the initialization is done
    # run `kamal zammad-init` first
    cmd: "/ops-backoffice-nginx-entrypoint.sh"
    # TODO might ditch the whole nginx when https://github.com/basecamp/kamal-proxy/issues/48 is implemented
    options:
      "add-host": host.docker.internal:host-gateway

  worker:
    cmd: "zammad-scheduler"
    options:
      "add-host": host.docker.internal:host-gateway

proxy:
  ssl: true
  app_port: 8080
  healthcheck:
    path: /
    interval: 10

env: &env
  clear:
    SERVICE_NAME: "ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>"

    BACKGROUND_SERVICES_LOG_TO_STDOUT: 1
    POSTGRESQL_DB: "ops_backoffice_<%= ENV.fetch('BACKOFFICE_PREFIX').gsub(/-/, '_') %>_staging"
    POSTGRESQL_HOST: host.docker.internal
    POSTGRESQL_USER: "ops_backoffice_<%= ENV.fetch('BACKOFFICE_PREFIX').gsub(/-/, '_') %>"
    RAILS_LOG_TO_STDOUT: true
    RAILS_SERVE_STATIC_FILES: true
    REDIS_URL: "redis://ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>-redis:6379/1"
    ZAMMAD_PROCESS_DELAYED_JOBS_WORKERS: 1
    ZAMMAD_PROCESS_SCHEDULED_JOBS_WORKERS: 1
    
    # TODO use ES in future
    ELASTICSEARCH_ENABLED: false

    POSTGRESQL_DB_CREATE: false

  secret:
    - RAILS_MASTER_KEY
    - POSTGRESQL_PASS

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"
  zammad_init: accessory exec railsserver -i --reuse "/docker-entrypoint.sh zammad-init"

accessories:
  railsserver: &accessory-hack
    image: "sd/ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>:<%= `git rev-parse HEAD`.strip %>"
    roles:
      - web
      - worker
    volumes:
      - "ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>-storage:/opt/zammad/storage"
    options:
      "add-host": host.docker.internal:host-gateway
    env:
      <<: *env
    cmd: "zammad-railsserver"

  websocket:
    <<: *accessory-hack
    cmd: "zammad-websocket"

  redis:
    image: redis:7.0
    roles:
      - web
      - worker
    directories:
      - data:/data

volumes:
  - "ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>-storage:/opt/zammad/storage"
