service: "ops-backoffice-magistrat-ba"

image: "sd/ops-backoffice-magistrat-ba"

servers:
  web:
    hosts:
      - magistrat-ba.ops.dev.slovensko.digital
    proxy:
      host: magistrat-ba.ops.dev.slovensko.digital
    options:
      memory: 1.5g

  websocket:
    hosts:
      - magistrat-ba.ops.dev.slovensko.digital

  worker:
    hosts:
      - magistrat-ba.ops.dev.slovensko.digital

proxy:
  host: magistrat-ba.ops.dev.slovensko.digital

env:
  clear:
    SERVICE_NAME: ops-backoffice-magistrat-ba
    FQDN: magistrat-ba.ops.dev.slovensko.digital
    REDIS_URL: "redis://ops-backoffice-magistrat-ba-redis:6379/1"
    ELASTICSEARCH_NAMESPACE: ops-backoffice-zammad-magistrat-ba
    ZAMMAD_ELASTICSEARCH_USER: ops-backoffice-zammad-magistrat-ba
    OPS_CONNECTOR_URL: https://ops.dev.slovensko.digital
    OPS_PORTAL_URL: https://ops.dev.slovensko.digital
    ORGANIZATION: Magistrát BA
    PRODUCT_NAME: Backoffice
    WEBHOOK_TENANT_ID: 5
    OPS_RESPONSIBLE_SUBJECT: Hlavné mesto SR Bratislava
    OPS_RESPONSIBLE_SUBJECT_ID: 18

    NOTIFICATION_SENDER: "DEV | Magistrát BA | Backoffice"
    NOTIFICATION_SMTP_USER: noreply-magistrat-ba@ops.dev.slovensko.digital

    POSTGRESQL_USER: ops_backoffice_magistrat_ba
    POSTGRESQL_DB: ops_backoffice_magistrat_ba_staging
    POSTGRESQL_HOST: host.docker.internal
    POSTGRESQL_OPTIONS: "?pool=50"

volumes:
  - "ops-backoffice-magistrat-ba-storage:/opt/zammad/storage"
