servers:
  web:
    cmd: "/opt/zammad_init_and_railsserver.sh"
    options:
      add-host: host.docker.internal:host-gateway
    proxy:
      ssl: true
      app_port: 3000
      healthcheck:
        path: /

  websocket:
    cmd: "zammad-websocket"
    options:
      add-host: host.docker.internal:host-gateway
    proxy:
      path_prefix: /ws
      strip_path_prefix: true
      app_port: 6042
      healthcheck:
        path: /healthcheck

  worker:
    cmd: "zammad-scheduler"
    options:
      add-host: host.docker.internal:host-gateway

deploy_timeout: 150

env:
  clear:
    BACKGROUND_SERVICES_LOG_TO_STDOUT: 1
    RAILS_LOG_TO_STDOUT: true
    RAILS_SERVE_STATIC_FILES: true
    ZAMMAD_PROCESS_DELAYED_JOBS_WORKERS: 1
    ZAMMAD_PROCESS_SCHEDULED_JOBS_WORKERS: 1
    ELASTICSEARCH_ENABLED: true
    ELASTICSEARCH_HOST: ops-triage-zammad-elastic
    ELASTICSEARCH_PORT: 9200
    ELASTICSEARCH_SCHEMA: http
    ELASTICSEARCH_REINDEX: false
    POSTGRESQL_DB_CREATE: false
    HTTP_TYPE: https

    NOTIFICATION_SMTP_HOST: smtp.m1.websupport.sk
    NOTIFICATION_SMTP_PORT: 587

    ADMIN_EMAIL: <%= ENV.fetch('ADMIN_EMAIL', 'admin@example.com') %>
    ADMIN_FIRSTNAME: Superadmin
    ADMIN_LASTNAME: OPS
    DEFAULT_LOCALE: sk
    RAILS_LOG_LEVEL: <%= ENV.fetch('RAILS_LOG_LEVEL', 'info') %>
    Z_LOCALES: <%= ENV.fetch('Z_LOCALES', 'sk:en-us') %>

  secret:
    - RAILS_MASTER_KEY
    - POSTGRESQL_PASS
    - ADMIN_PASSWORD
    - API_TOKEN
    - GOOGLE_OAUTH2_CLIENT_ID
    - GOOGLE_OAUTH2_CLIENT_SECRET
    - ZAMMAD_ELASTICSEARCH_PASSWORD
    - WEBHOOK_SECRET
    - S3_URL
    - NOTIFICATION_SMTP_PASSWORD
    - MONITORING_TOKEN

aliases:
  console: app exec --interactive --reuse "/docker-entrypoint.sh bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  reindex_elastic: app exec -r worker -p -i --reuse "/docker-entrypoint.sh bin/rake zammad:searchindex:rebuild[8]"

registry:
  server: registry.dev.slovensko.digital
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

accessories:
  redis:
    image: redis:7.0
    roles:
      - web
      - worker
    directories:
      - data:/data

builder:
  arch: amd64
  remote: ssh://kamal@dev.slovensko.digital
  cache:
    type: registry
    options: mode=max,image-manifest=true,oci-mediatypes=true

ssh:
  user: kamal
