x-load-env:
  - "<% require 'dotenv'; Dotenv.load('.env.' + ENV.fetch('KAMAL_DESTINATION')) %>"


servers:
  web:
    cmd: "/opt/zammad_init_and_nginx.sh"
    # TODO might ditch the whole nginx when https://github.com/basecamp/kamal-proxy/issues/48 is implemented
    options:
      "add-host": host.docker.internal:host-gateway

  worker:
    cmd: "zammad-scheduler"
    options:
      "add-host": host.docker.internal:host-gateway

deploy_timeout: 90

proxy:
  ssl: true
  app_port: 8080
  healthcheck:
    path: /
    interval: 10

env: &env
  clear:
    BACKGROUND_SERVICES_LOG_TO_STDOUT: 1
    RAILS_LOG_TO_STDOUT: true
    RAILS_SERVE_STATIC_FILES: true
    ZAMMAD_PROCESS_DELAYED_JOBS_WORKERS: 1
    ZAMMAD_PROCESS_SCHEDULED_JOBS_WORKERS: 1
    ELASTICSEARCH_ENABLED: true
    ELASTICSEARCH_HOST: ops-triage-zammad-elastic
    ELASTICSEARCH_PORT: 9200
    ELASTICSEARCH_SCHEMA: http
    ELASTICSEARCH_REINDEX: false
    POSTGRESQL_DB_CREATE: false
    HTTP_TYPE: https

    ADMIN_EMAIL: <%= ENV['ADMIN_EMAIL'] %>
    ADMIN_FIRSTNAME: Superadmin
    ADMIN_LASTNAME: OPS
    DEFAULT_LOCALE: sk
    RAILS_LOG_LEVEL: <%= ENV.fetch('RAILS_LOG_LEVEL', 'info') %>
    Z_LOCALES: <%= ENV.fetch('Z_LOCALES', 'sk:en-us') %>

  secret:
    - RAILS_MASTER_KEY
    - POSTGRESQL_PASS
    - ADMIN_PASSWORD
    - API_TOKEN
    - GOOGLE_OAUTH2_CLIENT_ID
    - GOOGLE_OAUTH2_CLIENT_SECRET
    - ZAMMAD_ELASTICSEARCH_PASSWORD
    - WEBHOOK_SECRET
    - S3_URL

aliases:
  console: app exec --interactive --reuse "/docker-entrypoint.sh bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "/docker-entrypoint.sh bin/rails dbconsole"
  reindex_elastic: app exec -r worker -p -i --reuse "/docker-entrypoint.sh bin/rake zammad:searchindex:rebuild[8]"

registry: &registry
  server: registry.dev.slovensko.digital
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

accessories:
  railsserver: &accessory-hack
    registry:
      <<: *registry
    roles:
      - web
      - worker
    options:
      "add-host": host.docker.internal:host-gateway
    env:
      <<: *env
    cmd: "zammad-railsserver"

  websocket:
    <<: *accessory-hack
    cmd: "zammad-websocket"

  redis:
    image: redis:7.0
    roles:
      - web
      - worker
    directories:
      - data:/data

builder:
  arch: amd64
  remote: ssh://kamal@dev.slovensko.digital
  cache:
    type: registry
    options: mode=max,image-manifest=true,oci-mediatypes=true

ssh:
  user: kamal
