servers:
  web:
    hosts:
      - dev.slovensko.digital
  worker:
    hosts:
      - dev.slovensko.digital

proxy:
  host: "<%= ENV.fetch('BACKOFFICE_PREFIX') %>.ops.dev.slovensko.digital"

registry: &registry
  server: registry.dev.slovensko.digital
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

accessories:
  railsserver:
    registry:
      <<: *registry
  websocket:
    registry:
      <<: *registry

builder:
  arch: amd64
  remote: ssh://kamal@dev.slovensko.digital
  cache:
    type: registry
    options: mode=max,image-manifest=true,oci-mediatypes=true

ssh:
  user: kamal
