x-load-env:
  - "<% require 'dotenv'; Dotenv.load('.env.' + ENV.fetch('KAMAL_DESTINATION') + '.' + ENV.fetch('BACKOFFICE_PREFIX')) %>"

service: "ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>"

image: "sd/ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>"

servers:
  web:
    cmd: "/opt/zammad_init_and_nginx.sh"
    # TODO might ditch the whole nginx when https://github.com/basecamp/kamal-proxy/issues/48 is implemented
    options:
      "add-host": host.docker.internal:host-gateway

  worker:
    cmd: "zammad-scheduler"
    options:
      "add-host": host.docker.internal:host-gateway

deploy_timeout: 90

proxy:
  ssl: true
  app_port: 8080
  healthcheck:
    path: /
    interval: 10
    timeout: 90

env: &env
  clear:
    SERVICE_NAME: "ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>"

    BACKGROUND_SERVICES_LOG_TO_STDOUT: 1
    POSTGRESQL_DB: "ops_backoffice_<%= ENV.fetch('BACKOFFICE_PREFIX').gsub(/-/, '_') %>_staging"
    POSTGRESQL_HOST: host.docker.internal
    POSTGRESQL_USER: "ops_backoffice_<%= ENV.fetch('BACKOFFICE_PREFIX').gsub(/-/, '_') %>"
    POSTGRESQL_OPTIONS: "?pool=50"
    RAILS_LOG_TO_STDOUT: true
    RAILS_SERVE_STATIC_FILES: true
    REDIS_URL: "redis://ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>-redis:6379/1"
    ZAMMAD_PROCESS_DELAYED_JOBS_WORKERS: 1
    ZAMMAD_PROCESS_SCHEDULED_JOBS_WORKERS: 1
    
    ELASTICSEARCH_ENABLED: true
    ELASTICSEARCH_HOST: <%= ENV.fetch('ELASTICSEARCH_HOST') %>
    ELASTICSEARCH_PORT: 9200
    ELASTICSEARCH_SCHEMA: http
    ELASTICSEARCH_NAMESPACE: "ops-backoffice-zammad-<%= ENV.fetch('BACKOFFICE_PREFIX') %>"

    POSTGRESQL_DB_CREATE: false

    HTTP_TYPE: "https"
    FQDN: <%= ENV.fetch('FQDN') %>
    PRODUCT_NAME: <%= ENV.fetch('PRODUCT_NAME') %>
    ORGANIZATION: <%= ENV.fetch('ORGANIZATION') %>

    WEBHOOK_TENANT_ID: <%= ENV.fetch('WEBHOOK_TENANT_ID') %>
    OPS_CONNECTOR_URL: <%= ENV.fetch('OPS_CONNECTOR_URL') %>
    OPS_PORTAL_URL: <%= ENV.fetch('OPS_PORTAL_URL') %>

  secret:
    - RAILS_MASTER_KEY
    - POSTGRESQL_PASS
    - ADMIN_EMAIL
    - ADMIN_PASSWORD
    - ADMIN_FIRSTNAME
    - ADMIN_LASTNAME
    - API_TOKEN
    - GOOGLE_OAUTH2_CLIENT_ID
    - GOOGLE_OAUTH2_CLIENT_SECRET
    - ZAMMAD_ELASTICSEARCH_USER
    - ZAMMAD_ELASTICSEARCH_PASSWORD
    - WEBHOOK_SECRET
    - S3_URL

aliases:
  console: app exec --interactive --reuse "/docker-entrypoint.sh bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "/docker-entrypoint.sh bin/rails dbconsole"
  reindex_elastic: app exec -r worker -p -i --reuse "/docker-entrypoint.sh bin/rake zammad:searchindex:rebuild"

accessories:
  railsserver: &accessory-hack
    image: "sd/ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>:<%= `git rev-parse HEAD`.strip %>"
    roles:
      - web
      - worker
    volumes:
      - "ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>-storage:/opt/zammad/storage"
    options:
      "add-host": host.docker.internal:host-gateway
    env:
      <<: *env
    cmd: "zammad-railsserver"

  websocket:
    <<: *accessory-hack
    cmd: "zammad-websocket"

  redis:
    image: redis:7.0
    roles:
      - web
      - worker
    directories:
      - data:/data

volumes:
  - "ops-backoffice-<%= ENV.fetch('BACKOFFICE_PREFIX') %>-storage:/opt/zammad/storage"
