name: DEV Malacky Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev_malacky
      environment_url: https://malacky.ops.dev.slovensko.digital

    secrets: inherit
