name: DEV Stupava Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev_stupava
      environment_url: https://stupava.ops.dev.slovensko.digital

    secrets: inherit
