name: DEV Stare Mesto BA Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev_staremesto_ba
      environment_url: https://staremesto-ba.ops.dev.slovensko.digital

    secrets: inherit
