name: DEV Magistrat BA Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: dev_magistrat_ba
      environment_url: https://magistrat-ba.ops.dev.slovensko.digital

    secrets: inherit
