name: PROD Malacky Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod_malacky
      environment_url: https://malacky.odkazprestarostu.sk

    secrets: inherit
