name: PROD Pezinok Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod_pezinok
      environment_url: https://pezinok.odkazprestarostu.sk

    secrets: inherit
