name: PROD Sabinov Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod_sabinov
      environment_url: https://sabinov.odkazprestarostu.sk

    secrets: inherit
