name: PROD Nitra Deploy

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod_nitra
      environment_url: https://nitra.odkazprestarostu.sk

    secrets: inherit
